body {
    background: #000;
    font-family: 'Poppins', sans-serif;
}

.frame {
    width: 414px;
    height: 896px;
    background: #fff;
    overflow: hidden;
    margin: auto;
}

.header {
    background: #D10000;
    color: #fff;
}

a {
    text-decoration: none;
}

.logotyp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    width: 35%;
}

h1 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.card_red {
    width: 207px;
    height: 207px;
    background: rgba(209,0,0,1);
    opacity: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card_black {
    width: 207px;
    height: 207px;
    background: rgba(0,0,0,1);
    opacity: 1;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: center;

}

.card_blue {
    width: 207px;
    height: 207px;
    background: #02055B;
    opacity: 1;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: center;
}

.card_white {
    width: 207px;
    height: 207px;
    background: #F4F4F4;
    opacity: 1;
    overflow: hidden;
    color: #000;
    display: flex;
    justify-content: center;
}

.question {
    background:none;
    border:none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 133px;
    height: 169px;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    padding-top: 100px;
}

.question:hover {
    font-size: 30px;
}

.question_white {
    background:none;
    border:none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    width: 133px;
    height: 169px;
    padding-top: 100px;
}

.question_white:hover {
    font-size: 30px;
}

.grid_1fr {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:auto;
    padding-top: 3em;
    padding-bottom: 1em;
}

.grid_2fr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:auto;
    grid-gap: 2px;
}

footer {
    position: fixed;
    overflow: hidden;
    background:#D10000;
    color: #fff;
    text-transform: uppercase;
    width: 414px;
    height: 56px;
    top: 780px;
}

h2 {
    text-align: center;
    flex: none;
    margin: 15px 0px;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.12em;
}

.grid_card {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:auto;
    padding: 0px 47px;
}

.card_black_l {
    width: 320px;
    height: 320px;
    background: rgba(0,0,0,1);
    opacity: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 35px;

    display: flex;
    justify-content: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.question_l {
    background:none;
    border:none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    height: 210px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-top: 35%;
    padding-left: 20%;
    padding-right: 20%;
}

.ghost_link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

.grid_button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:auto;
    padding: 30px 47px;
}

.button_red {
    width: 150px;
    height: 45px;

    background: #FF0000;
    border: 2px solid #FF0000;
    box-sizing: border-box;
    border-radius: 20px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.button_green {
    width: 150px;
    height: 45px;

    background: #15DE29;
    border: 2px solid #15DE29;
    box-sizing: border-box;
    border-radius: 20px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.score {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #D10000;
}

.button_start {
    width: 200px;
    height: 45px;

    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    color: #000000;
    margin: auto;
    padding-top: 6px;

    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.button_start:hover {
    box-shadow: 0px 15px 20px #FF0000;
    transform: translateY(-7px);
}

.button_guide {
    width: 150px;
    height: 45px;
    left: 132px;
    top: 709px;

    background:#D10000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    color:#fff;
    margin: auto;
}

.button_next {
    width: 180px;
    height: 45px;

    background: #000;
    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 20px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    color: #fff;
    margin: auto;
}

.frame_index {
    width: 414px;
    height: 896px;
    background:#D10000;
    overflow: hidden;
    top: 0;
    margin:auto;
}

.grid_1fr_index {
    margin-top: 11em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:auto;
    padding-top: 3em;
    padding-bottom: 1em;
}

@media screen and (max-width: 800px) {

.frame {
    position: absolute;
    left: 0px;
}

body {
    background-color: #D10000;
}
}